@model IEnumerable<DziennikASPDotNetMVC.Models.Session>

@{
    ViewBag.Title = "Lista sesji";
}

<h2>Lista sesji</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Session ID</th>
            <th>Przedmiot</th>
            <th>Nauczyciel</th>
            <th>Dzień Tygodnia</th>
            <th>Godzina rozpoczęcia</th>
            <th>Godzina zakończenia</th>
            <th>Sala</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var session in Model)
        {
            <tr>
                <td>@session.sessionId</td>
                <td>@session.subjectId</td>
                <td>@session.teacherId</td>
                <td>@session.dayOfTheWeek</td>
                <td>@session.hourFrom</td>
                <td>@session.hourTo</td>
                <td>@session.sala</td>
                <td>
                    <a asp-action="Details" asp-route-id="@session.sessionId" class="btn btn-info btn-sm">Szczegóły</a>
                    <a asp-action="Edit" asp-route-id="@session.sessionId" class="btn btn-warning btn-sm">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@session.sessionId" class="btn btn-danger btn-sm">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-success">Dodaj nową sesję</a>
</p>
