@{
    ViewData["Title"] = "Admin Dashboard";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Admina</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Panel Admina</h1>
    <h2>Welcome @ViewData["Username"]</h2>
    <p>Your role is: @ViewData["UserRole"]</p>

    @if (ViewData["Message"] != null)
    {
        <p>@ViewData["Message"]</p>
    }
</body>
<div class="d-flex flex-column">
    <a href="@Url.Action("Index", "User")" class="btn btn-primary btn-lg rounded mb-4">Zarządzaj użytkownikami</a>
    <a href="@Url.Action("Index", "User")" class="btn btn-primary btn-lg rounded mb-4">Zarządzaj klasami</a>
    <a href="@Url.Action("Index", "User")" class="btn btn-primary btn-lg rounded mb-4">Zarządzaj przedmiotami</a>
    <a href="@Url.Action("Index", "User")" class="btn btn-primary btn-lg rounded mb-4">Zarządzaj sesjami</a>
    <a href="@Url.Action("Index", "User")" class="btn btn-primary btn-lg rounded mb-4">Zarządzaj planami zajęć</a>
    <a href="@Url.Action("Index", "User")" class="btn btn-primary btn-lg rounded mb-4">Przypisz uczniów do klasy</a>
    <a href="@Url.Action("Index", "User")" class="btn btn-primary btn-lg rounded mb-4">Otwórz skrzynkę pocztową</a>
    <a href="@Url.Action("Index", "User")" class="btn btn-primary btn-lg rounded mb-4">Przypisz przedmioty do klasy</a>
</div>